my-note.iml
.idea/.gitignore
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.history
.DS_Store
.idea/learning-my-note.iml
.idea/markdown.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
